.action-container {
	padding: 0.5rem;
	margin: 0.5rem;
	background-color: beige;
}

/* .action-container-children > div:not(:last-child) {
	margin: 0.5rem;
	border-bottom: dashed 1px #000;
} */

.svg-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	min-width: 500px;
	border: 0.1rem;
	border-radius: 0.5rem;
	border-style: solid;
	padding: 0.5rem;
	margin: 0.5rem;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* align-items: center; */
}

.action-container-children > * {
	margin: 0.5rem;
	padding-bottom: 1rem;
	border-bottom: dashed 1px #000;
}
